.row
  = form_for(@skill_set) do |f|
    = render 'shared/error_messages', object: @skill_set
    .col-xs-6
      = f.text_field        :name,      placeholder: "Skill Set Name",    class: 'form-control',    required: true
     
      .skill_set_dropdown.form-control
        %nav.skill_set_dropdown_navbar
          Select Parent Skill Set
        %ul
          = render partial: 'skill_set_dropdown', collection: @skill_sets, as: :skill_set
     
      = f.fields_for        :chat_que  do |c_q|
        = c_q.text_field    :name,      placeholder: "Chat Que Name",     class: 'form-control'
    .col-xs-6
      .skill_set_user_list All User
      .well.skill_list_area
        %ul.list-group
          = f.collection_check_boxes(:user_ids,@users, :id, :name, include_hidden: false) do |b|
            %li.list-group-item
              .checkbox
                = b.label do
                  = b.check_box(class: "check_box")
                  = b.object.name
          
          
    = f.submit "Save"
