-if skill_set.children.present?
  %li
    %div.ele-row
      %div.ele-col-left
        = radio_button("skill_set", "parent_id", "#{skill_set.id}") 
      %div.ele-col-right
        = "#{skill_set.id}-#{skill_set.name}"
    %ul
      =render partial: 'skill_sets/skill_set_dropdown' , collection: skill_set.children,as: :skill_set
- else
  %li
    %div.ele-row
      %div.ele-col-left
        = radio_button("skill_set", "parent_id", "#{skill_set.id}") 
      %div.ele-col-right
        = "#{skill_set.id}-#{skill_set.name}"


